# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
_output/

# Test binary, built with `go test -c`
*.test
*.http

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the Air
tmp

# config files
/configs/
!/configs/init.sql
!/configs/model.conf

# Custom
.idea/
.vscode/

# MacOS
.DS_Store
